<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/admin-head') %>
        <title>User Dashboard</title>
</head>

<body>
    <%- include('./partials/admin-navbar') %>
    <%- include('./partials/admin-card') %>
    <%- include('./partials/admin-script') %>
</body>

</html>